{
    "influxdbhost":"influxdb_hostname",
    "influxdbport":"influxdb_port",
    "influxdbdatabase":"influxdb_database",
    "influxdbusername":"influxdb_user",
    "influxdbpassword":"influxdb_database"

}